.SlideShowContainer, .SlideShowContainer2 {
  position: relative;
  margin: auto;
  width: 100% !important;
  height: 100vh;
  background-color: black;
}

.landingContainer {
	width: 100%;
	height: 100vh;
}

.MySlides img, .MySlides video, .MySlides2 img {
  width: 100%;
  height: 100vh;
  cursor: pointer;
  object-fit: cover;
 }
 
 .landing  {
	background-image: url("fulgoraneoquadbackground.png");
		background-attachment: fixed;
	height: 100vh;
	width: 100%;
	background-size: cover;
 }
 
.MySlides2 {
  display: none;
 }


.prev, .next, .prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 45%;
  padding: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300 !important;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  height: 50px;
  width: 20px;
  user-select: none;
  z-index: 3 !important;
}

.prev, .next {
	color: black !important;
}

.prev i, .next i, .prev2 i, .next2 i {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.prev i:hover, .next i:hover, .prev2 i:hover, .next2 i:hover  {
	color: #dbb52f;
}

.next, .next2 {
  top:45%;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.downButton {
	height: 5vh;
	width: 5vh;
	position: absolute;
	top: 88vh;
	z-index: 5;
	margin-left: 47.5vw;
	transform: rotate(135deg);
	box-shadow: 2px -2px 0 #dbb52f;
	border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    background-color: rgba(255,255,255,0);
   -webkit-transition: width 0.4s, height 0.4s, -webkit-transform 0.4s; /* Safari */
  transition: width 0.4s, height 0.4s, transform 0.4s;
}

.downButton:hover {
	 box-shadow: 2px -2px 0 #dbb52f;
	 height: 5.5vh;
	 width: 5.5vh;
}

.DotContainer{
  position: absolute;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
}


.Dots, .Dots2 {
  display: flex;
  padding-left: 2%;
  align-items: center;
  margin-top: 90vh;
  position: absolute;
  z-index: 2;
  width: 98%;
}

.Dots {
	background-color: white;
	padding-left: 0 !important;
	width: 100%;
}

.dot {
  cursor: pointer;
  height: 3vh;
  width: 20%;
  background-color: transparent;
  border-top: 4px solid white;
  display: inline-block;
  transition: border-color 0.6s ease;
  padding: 10px;
}

.Active, .dot:hover , .dot2:hover {
	 border-color: #dbb52f;
}

.Active {
	background-color: #f0f0f0;
}


.fade, .fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.textHolder, .textHolderSlides {
	position: absolute;
	top: 20vh;
	padding: 0;
	z-index: 2 !important;
	width: 85%;
}

.textHolderSlides {
	top: 10vh !important
}

.textHolder , .textHolderSlides{
	font-family: "Segoe UI", "Helvetica Neue";
	color: white;
	text-transform: uppercase;
}

.textHolderSlides ul li p{
	font-size: 20px !important;
	color: black;
	padding-bottom: 15px;
	font-size: 18px !important;
}

.textHolderSlides ul li {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	border-bottom: 1px solid #626262;
	margin-bottom: 15px;
}

.textHolder {
	position: absolute;
	top: 20vh;
	padding: 0;
	margin-left: 10vw;
	z-index: 2 !important;
	width: 50% !important;
}

.textHolder {
	font-family: "Segoe UI", "Helvetica Neue";
	color: white;
	text-transform: uppercase;
}

.textHolder h4 {
	font-size: 55px;
	font-weight: bold;
	font-stretch: condensed;
	letter-spacing: 1.5px;
}

.textHolder p {
	font-size: 50px;
	font-weight: 100 !important;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@-webkit-keyframes fade2 {
 from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4} 
  to {opacity: 1}
}

.textHolderInner {
	padding: 8px;
	padding-left: 0 !important;
	padding-left: 13px;
	padding-right: 13px;
	z-index: 3 !important;
}

.transparentBackground {
	height: 100vh;
	background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
	width: 100%;
	z-index: 1 !important;
	position: absolute;
}

.modelWord {
	font-family: "Segoe UI", Roboto, sans-serif;
	font-size: 45px;
	display: flex;
	justify-content: flex-end;
}

.modelWord h5 {
	font-weight: 100 !important;
	font-style: italic;
	color: black;
}

.modelTitleHolder h5 {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-stretch: ultra-condensed !important;
	padding-top: 6px;
	padding-bottom: 6px;
}

.modelTitleHolder {
	width: 60%;
	margin-right: 5%;
}

.firstSectionText {
	background-color: white;
	padding: 8% 0% 1% 8%;
}

#BronteLeft {
	padding-right: 8% !important;
	width: 40%;
	text-align: left !important;
	display: flex;
	align-items: center;
}

#EmotionSection {
	padding-left: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#BronteFirstSection {
	padding-left: 0 !important;
}

#Bronte {
	width: 100%;
}

.firstSectionTextFlex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.firstSection {
	padding-bottom: 8%;
}


.pageNav {
	margin-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	border-bottom: 1px solid #e0e0e0;
	font-family: Roboto, sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
}

.pageNav p  a{
	color: black;
}

.changeColor {
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.changeColor:hover {
	color: #dbb52f;
}

.firstSectionText h2 {
	font-family: "Segoe UI", sans-serif;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
}

.firstSectionText p {
	font-family: 'Open Sans', Roboto, sans-serif;
	line-height: 30px;
	font-weight: 300;
	padding-top: 3%;
}


/*.skewText {
	background-color: red;
}*/

.pictureHolder {
	display: flex;
	justify-content: space-between;
	height: 680px;
	width: 52%;
	overflow: hidden;
	opacity: 0;
	transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.pictureHolder:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 540px;
	z-index: -1;
	background: url("Driving.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#pictureHolder2:before {
	background: url("RaceTrack.jpeg");
	background-position: center bottom;
}


.leftText {
	width: 48%;
	display: flex;
}

#BronteLeft {
	padding-right: 8%;
	text-align: right;
}

.imageHolder {
	width: 50%;
	background-image: url("RedCar.jpeg");
	opacity: 0;
	transition: transform 4s 0.25s cubic-bezier(0,1,.3,1),
              opacity .3s 0.25s ease-out;
	will-change: transform, opacity;
	overflow: hidden;
	height: 680px;
	background-repeat: no-repeat;
	background-size: cover;
}

#shorter {
	height: 480px;
	background-image: url("RacingBy.jpeg");
}

/*.pictureHolder::after {
	content: '';
	position: absolute;
	width: 31%;
	height: 400px;
	z-index: -1;
	left: 0;
	background: url("WhiteTriangle.png");
	background-repeat: no-repeat;
	background-size: cover;
}*/

.carOnSkew {
	align-self: flex-end;
	opacity: 0;
	transition: transform 4s 0.40s cubic-bezier(0,1,.3,1),
              opacity .3s 0.40s ease-out;
	will-change: transform, opacity;
	width: 100%;
	overflow: hidden;
}

.carOnSkew.is-visible, .pictureHolder.is-visible, .imageHolder.is-visible, .pictureHolder2.is-visible, .interiorBackground.is-visible {
  opacity: 1;
}

.whiteTriangle {
	height: 680px;
	width: 350px;
	align-self: flex-start;
}

.whiteTriangle2 {
	height: 480px;
	width: 350px;
	align-self: flex-start;
}

#imageHolderTriangle {
	width: 450px;
}

#imageHolderTriangleShorter {
	width: 450px;
}

#whiteTriangleOpp {
	align-self: flex-start;
	width: 450px;
	height: 540px;
}

#whiteTriangleOpp2 {
	align-self: flex-start;
	width: 450px;
}

#BronteImage {
	display: flex;
	justify-content: flex-end !important;
	width: 50%;
}


.linkCar {
	display: flex;
	justify-content: space-between;
	padding: 0 8% 0 8%;
	flex-wrap: wrap;
}

.linkCarHolder {
	font-family: "Segoe UI", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	width: 28%;
	padding-left: 10px;
	border-bottom: 3px solid rgb(214, 159, 51);
	padding-bottom: 10px;
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.linkCarHolder a {
	color: rgb(214, 159, 51);
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.lilLet {
	font-weight: 100 !important;
	font-size: 25px;
	letter-spacing: 1.5px;
}


.linkCarHolder:hover  > .onHoverInside {
	color: black;
}

.linkCarHolder:hover {
	border-bottom: 3px solid black;
	cursor: pointer;
}

.bottomOfPage {
	display: flex;
	flex-wrap: wrap;
}

.bottomSquareLink {
	height: 50vh;
	width: 33.33333%;
	overflow: hidden;
}

.bottomSquareBackground {
	height: 100%;
	width: 100%;
	background-image: url("RedCar.jpeg");
	background-size: cover;
	background-position: center;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
}

.filterSquareBackground {
	background-color: rgba(0,0,0,0.3);
	height: 100%;
	width: 100%;
	transition-duration: 0.8s;
	-webkit-transition-duration: 0.8s;
}

.bottomSquareBackground:hover {
	transform: scale(1.2);
}

.bottomSquareBackground:hover > .filterSquareBackground {
	background-color: rgba(0,0,0,0);
}

#square2 {
	background-image: url("OrangeCar.jpeg");
}	

.wordSquareHolder {
	position: relative;
	bottom: 55%;
	text-align: center;
	font-family: "Segoe UI", Roboto, sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 25px;
}

.wordSquareHolder span {
	font-weight: 100;
}

.designSection {
	padding: 8% 25% 0 25%;
}

.designSection h3 {
	text-align: center;
	font-family: "Segoe UI", "Helvetica Neue";
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
	font-stretch: condensed;
	padding-bottom: 3%;
}

.designSection p {
	font-family: 'Open Sans', Roboto, sans-serif;
	line-height: 30px;
	text-align: center;
}

.Dots2 {
	position: static !important;
    padding-left: 0 !important;
    align-items: center;
    z-index: 2;
	display: flex;
	flex-wrap: wrap;
	margin-top: 0 !important;
	width: 100%;
	height: 94%;
}

.DotContainer2 {
  position: static !important;
  height: 100% !important;
  margin: 0 !important;
  width: 22%;
}

.SlideShowContainer2 {
	background-color: black;
	display: flex !important;
	height: 90vh !important;
}

.MySlides2 {
	width: 78%;
}

.MySlides2 img {
  width: 100%;
  height: 90vh;
  cursor: pointer;
  object-fit: cover;
  cursor: auto !important;
}

.dot2 {
	border-bottom: 0px solid white;
	background-image: url("RedCar.jpeg");
	height: 25%;
	width: 50%;
	background-size: cover;
	padding: 0 !important; 	
	margin: 0 !important;
	cursor: pointer;
}

.transparentDotBackground {
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
}

.transparentDotBackground:hover {
	background-color: rgba(0,0,0,0);
}

.Active2 {
	background-color: rgba(0,0,0,0);
}

.galleryTitle {
	background-color: #ddb321;
	height: 6%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.galleryTitle h3 {
	padding-right: 3%;
	font-family: "Segoe UI", "Helvetica Neue";
	color: white;
	text-transform: uppercase;
	font-size: 3vh;
	font-weight: bold;
	font-style: italic;
}

.buttonTopHolder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}

#Hide, #Hide2, #Hide3, #Hide4, #Hide5,  #Hide6, #Hide7, #Hide8, #Hide9 {
	border: none;
	color: black;
	background-color: rgba(255,255,255,0);
	font-size: 20px;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	cursor: pointer;
	font-weight: normal;
	letter-spacing: 3px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 96%;
	text-align: left;
}

#Hide:focus, #Hide2:focus, #Hide3:focus, #Hide4:focus, #Hide5:focus, #Hide6:focus, #Hide7:focus, #Hide8:focus, #Hide9:focus    {
	outline: 0;
}

 #Hide:hover, #Hide2:hover, #Hide3:hover, #Hide4:hover,  #Hide5:hover, #Hide6:hover, #Hide7:hover,  #Hide8:hover, #Hide9:hover  {
  color: #dbb52f;
 }
 
 .minusHolder p {
	font-size: 40px;
}

.minusHolder {
	height: 40px;
	width: 4%;
	display: flex;
	flex-wrap: no-wrap;
	align-items: center;
	justify-content: center;
}

.horizontalMinus, .horizontalMinus2, .horizontalMinus3, .horizontalMinus4, .horizontalMinus5, .horizontalMinus6, .horizontalMinus7, .horizontalMinus8, .horizontalMinus9 {
	position: absolute;
	cursor: pointer;
	transition-duration: 0.2s;
}

.verticalMinus, .verticalMinus2, .verticalMinus3,  .verticalMinus4, .verticalMinus5, .verticalMinus6, .verticalMinus7, .verticalMinus8, .verticalMinus9 {
	position: relative;
	transform: rotate(-90deg);
	cursor: pointer;
	transition-duration: 0.2s;
}

.horizontalMinus:hover, .horizontalMinus2:hover, .horizontalMinus3:hover, .horizontalMinus4:hover, .horizontalMinus5:hover, .horizontalMinus6:hover, .horizontalMinus7:hover, .horizontalMinus8:hover, .horizontalMinus9:hover {
  color: #dbb52f;
}

.minusHolder:hover {
  color: #dbb52f;
}

 .Fulgora, .Fulgora2, .Fulgora3, .Fulgora4, .Fulgora5, .Fulgora6, .Fulgora7, .Fulgora8, .Fulgora9 {
   display: none;
   margin-top: 15px;
 }
 
 .modelChoice {
	padding: 8% 20% 8% 20%;
	background-color: #f0f0f0;
}

.writtenSection {
	font-family: Roboto, sans-serif;
	text-align: left;
	line-height: 30px;
}

.writtenSection img {
	width: 100%;
	padding-top: 15px;
}
 
 .writtenSection h2 {
	font-weight: 300;
	padding-bottom: 15px;
}

.modelFirstSection {
	padding-top: 3%;
}

.modelTitle {
	text-align: center;
}

.modelTitle h2 {
	font-family: "Segoe UI", "Helvetica Neue";
	color: black;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: bold;
}

.learnMoreContainer {
	padding-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.learnMoreButton button {
  color: #c49e00;
  text-transform: uppercase;
  background-color: Transparent;
  border: 2px solid #c49e00;
  z-index: 2;
  padding: 15px 15px;
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.learnMoreButton:hover button {
   color: #626262;
}

.learnMoreButton:hover button {
  border-color: #626262;
 }
 
 .leftTextHolder {
	padding-top: 5%;
 }
 
 #fulgoraSection2 {
	padding-top: 0 !important;
 }
 

.pictureHolder2 {
	display: flex;
	justify-content: space-between;
	height: 600px;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
	will-change: transform, opacity;
}

.pictureHolder2:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 580px;
	z-index: -1;
	background: url("FulgoraNeoquadInterior.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#BronteImage {
	height: 480px;
}

.interiorBackground {
	background-image: url("InsideCar.jpeg");
	height: 75vh;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 5%;
	opacity: 0;
	transition: transform 4s 0.25s cubic-bezier(0,1,.3,1),
              opacity .3s 0.25s ease-out;
	will-change: transform, opacity;
}

.partSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3% 10% 0 10%;
}

.part {
	width: 30%;
	text-align: center;
	margin: 1%;
	margin-bottom: 3%;
}

.part img {
	width: 80%;
}

.partImageHolder {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 3px solid #dbb52f;
	height: 300px;
}


.learnMoreContainer {
	padding-top: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.learnMoreButton button {
  color: #c49e00;
  text-transform: uppercase;
  background-color: Transparent;
  border: 2px solid #c49e00;
  z-index: 2;
  padding: 15px 15px;
    -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
}

.learnMoreButton:hover button {
   color: black;
}

.learnMoreButton:hover button {
  border-color: black;
 }
 
 .customizeSection {
	padding: 0 20% 8% 20%;
 }
 
.titleButtonHolder {
	text-align: center;
	font-family: "Segoe UI", "Helvetica Neue";
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}

.customizeImageHolder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8%;
}

.customizeImageHolder img {
	width: 80%;
}

.technicalSection {
	background-image: url("InsideCarWashed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.SlideShowContainer {
	width: 70% !important;
}

.Dots {
	margin-top: 0vh !important;
}

.SlideShowContainer {
	background-color: #f0f0f0;
	height: 90vh;
}

.dot h4 {
	font-family: Roboto, sans-serif;
	font-weight: 300 !important;
	text-transform: uppercase;
	text-align: center;
}

.technicalTitle {
	background-color: Transparent;
	margin: 0 15% 0 15%;
	text-align: center;
	padding-bottom: 3%;
	font-family: "Segoe UI", "Helvetica Neue";
	text-transform: uppercase;
}

.technicalTitle h2 {
	font-size: 50px;
}

.MySlides {
	justify-content: center;
}

.technicalBackground {
	height: 100%;
	width: 100%;
	padding-bottom: 8%;
	padding-top: 5%;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#hidePicture {
	visibility: hidden !important;
}

#wheel {
	background-image: url("Wheel.png");
}

