@media screen and (max-width: 970px) {
/* start of phone styles (iPhone 6/7)*/


header {
  width: 100%;
}



.DropDownContent {
  display: none;
}

.DropDownContent a {
  display: none !important;
}

.secondBox {
	display: none;
}	

.container {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0;
  position: fixed;
  display: flex;
  height: 48px;
  justify-content: flex-start;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999 !important;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  display: block !important;
}

.active {
  color: #dbb52f !important;
}

.Hamburger {
  position: fixed;
  z-index: 12;
  color: white;
  height: 110px;
  margin-left: 80%;
  display: flex !important;
  line-height: 110px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  z-index: 202 !important;
  padding-bottom: 15%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .CloseButton {
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 60px;
  z-index: 30 !important;
}





@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .CloseButton {
  font-size: 40px !important;
  top: 15px !important;
  right: 35px !important;
  }
}




.footer2 {
  display: flex !important;
  flex-direction: column;
}

.footer {
  display: none;
}

.footer2 img {
  height: 100%;
  margin-top: 3vh;
}

.footer2 p {
  font-size: 2vh;
  text-align: center;
  color: #ababab;
}

.FooterBottom {
  margin-top: 0;
}

.footer {
  display: none;
}

a:link {
  text-decoration: none;
  font-family: "Roboto Condensed",sans-serif;
}

.overlay .CloseButton {
  position: absolute !important;
  top: 80px !important;
  right: 45px !important;
  font-size: 60px !important;
  z-index: 30 !important;
}

.CloseButton {
  height: auto;
  width: auto;
}



.footer2 {
   height: 70px;
   width: 100%;
   background-color: #595959;
   display:flex;
   justify-content: center;
   align-items: center;
}

.footer2 p {
  margin: 0px;
  padding: 0px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, sans-serif;
  color: white;
}

 .footer {
    display: none !important;
  }

.Hamburger {
  display: block !important;
}
  
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .CloseButton {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

}
