/* BEGIN MEDIA QUERIES FOR ALL MOBILE DEVICES */
@media only screen and (max-width: 790px) {

.textHolder h4 {
	line-height: 50px;
}

.textHolder {
	width: 80%;
}

.aboutUsTitle h2:after, .teamTitleSection h2:after, .boardTitle h2:after, .eventTitle h2:after {
	width: 45%;
}

.quickStatsTitle h2:after  {
	width: 50%;
}

.quickStatsTitle h2 {
	font-size: 38px;
}

.downButton {
	top: 80vh;
}

.modelSection {
	width: 100%;
}

.aboutUsSection {
	margin: 8% 15% 8% 15%;
}

.firstStart, .location, .slogan, .teamLogo {
	width: 100%;
}

.firstStart, .location, .slogan {
	margin-top: 8%;
}

.Circle {
	margin-bottom: 10%;
}

.teamLogo {
	width: 95% !important;
}

.leftNewSection, .rightNewSection {
	width: 100%;
}

.rightNewSection {
	height: 400px;
}

.newsBox2, .newsBox2 {
	width: 100%;
	margin: 0 !important;
}

.leftNewSection h4, .rightNewSection h4 {
	left: 0;
	padding-left: 2%;
	bottom: 18%;
	padding-right: 2%;
}  

.circleContainerBoard {
	padding-top: 20%;
}

.box2Holder {
	flex-wrap: wrap;
}

#marginRight {
	margin: 0 !important;
}

.topSection {
	margin-bottom: 20%;
	flex-wrap: wrap;
	height: auto !important;
} 

.innerTopLeft {
	width: 100%;
	height: 400px;
}

.innerTopRight {
	width: 100% !important;
}

.overallNewSection {
	padding-top: 15%;
}

.overallHolder {
	padding-top: 15%;
}

.greyBoxText {
	padding-top: 8%;
	padding-bottom: 8%;
}
  
}

/* scale nav logo down for iphone se/6/7/8 */
@media only screen and (max-width: 373px) and (max-height: 810px) {
  .homepageLogo img {
    transform: scale(0.75);
  }
}
