@media only screen and (max-width: 970px) {

#fulgoraSection {
	padding-top: 15%;
}

.pictureHolder:before {
	height: 350px;
}

#BronteFirstSection {
	padding-top: 0 !important;
}

#LauraImage {
	width: 100%;
}

.firstSectionText {
	padding-right: 0 !important;
}

#space, #joselynSection, #fulgoraSection {
	padding-right: 5% !important;
}

#BronteLeft {
	padding-top: 15%;
}

.textHolder {
	margin-left: 3vw;
}
	
}